{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3 DAYS</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="{% static "css/layout.css" %}" rel="stylesheet">
    <link href="{% static "css/place.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,500,600,700,200,800' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static "js/threedays.js" %}"></script>

</head>

<body id="page-top" class="place-container" data-spy="scroll" data-target=".navbar-fixed-top">

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">
                3 Days
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="index.html"></a>
                </li>
                <li>
                    <a class="page-scroll" href="index.html">Explore</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Saved Trips</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="profile">
    <div class="profile-body" style="display: none;">
        <div class="container text-center">
            <div class="row">
                <h1 class="brand-heading">CHOOSE YOUR PROFILE</h1>
            </div>
            <div class="row profiles">
                <div class="col-md-12 text-center">
                    <div class="col-md-4">
                        <a class="profile-box" href="#">
                            <img src="https://static.pexels.com/photos/1248/romantic-sun-drink-date.jpg" alt="romantic" class="img-responsive">
                            <label>BAE</label>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="profile-box" href="#">
                            <img src="http://www.mstarinsurance.com/files/2013/06/Life-Insurance-6.24.jpg" alt="family" class="img-responsive">
                            <label>FAM</label>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="profile-box" href="#">
                            <img src="http://41.media.tumblr.com/tumblr_m3rzbdVXLI1qfji2jo1_500.jpg" alt="friends" class="img-responsive">
                            <label>SQUAD</label>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row profiles">
                <div class="col-md-12 text-center">
                    <div class="col-md-4">
                        <a class="profile-box" href="#">
                            <img src="http://www.joeboard.com/wp-content/uploads/2014/08/budget-travel-piggy-bank.png" alt="budget" class="img-responsive">
                            <label>BROKE</label>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="profile-box" href="#">
                            <img src="http://imgfave-herokuapp-com.global.ssl.fastly.net/image_cache/1333240270572500.jpg" alt="hipster" class="img-responsive">
                            <label>HIPSTER</label>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="profile-box" href="#">
                            <img src="http://www.crossfitmagnolia.com/wp-content/uploads/2014/11/cliff-jumping.jpg" alt="adventurous" class="img-responsive">
                            <label>YOLO</label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="place">
    <div class="place-body">
        <div class="container" id="responseContainer">
            <div class="row text-center">
                <h1 class="brand-heading">CHOOSE THE PLACE YOU WANT TO GO</h1>
            </div>
            <div class="itinerary">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h4>Places you have <em>liked</em> so far:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <ul id="itineraryRow" class="flex-box">

                        <!-- Itinerary gets generated here -->
                            <!--<li class="flex-item"><a href="http://www.yelp.com/biz/art-institute-of-chicago-chicago-3"><img src="http://s3-media2.fl.yelpcdn.com/bphoto/yGNhPzcjdTBiZEd2s6HEHg/ls.jpg" class="img-responsive"></a></li>-->

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" id="round0">
                <div class="col-md-12 text-left">
                    <div class="col-md-4 bg-hover" data-name="{{ businesses.0.name }}" data-yelpurl="{{ businesses.0.url }}" data-imageurl="{{ businesses.0.image_url }}" data-category="{{ businesses.0.categories.0.1 }}">
                        <div class="outer-box">
                            <a class="place-box choiceButton" href="#">
                                <figure class="yelp-img"><img src="{{ businesses.0.image_url }}" alt="yelp image" class="img-responsive"></figure>
                                <figcaption>
                                    <h3>{{ businesses.0.name }}</h3>
                                    <p><i class="fa fa-tag"></i> {{ businesses.0.categories.0.1 }}</p>
                                    <p class="description">{{ businesses.0.snippet_text }}</p>
                                </figcaption>
                            </a>
                            <div class="info-icon text-right">
                                <a href="{{ businesses.0.url }}">or find out more <i class="fa fa-external-link-square"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 bg-hover" data-name="{{ businesses.1.name }}" data-yelpurl="{{ businesses.1.url }}" data-imageurl="{{ businesses.1.image_url }}" data-category="{{ businesses.1.categories.0.1 }}">
                        <div class="outer-box">
                            <a class="place-box choiceButton" href="#">
                                <figure class="yelp-img"><img src="{{ businesses.1.image_url }}" alt="yelp image" class="img-responsive"></figure>
                                <figcaption>
                                    <h3>{{ businesses.1.name }}</h3>
                                    <p><i class="fa fa-tag"></i> {{ businesses.1.categories.0.1 }}</p>
                                    <p class="description">{{ businesses.1.snippet_text }}</p>
                                </figcaption>
                            </a>
                            <div class="info-icon text-right">
                                <a href="{{ businesses.1.url }}">or find out more <i class="fa fa-external-link-square"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 bg-hover" data-name="{{ businesses.2.name }}" data-yelpurl="{{ businesses.2.url }}" data-imageurl="{{ businesses.2.image_url }}" data-category="{{ businesses.2.categories.0.1 }}">
                        <div class="outer-box">
                            <a class="place-box choiceButton" href="#">
                                <figure class="yelp-img"><img src="{{ businesses.2.image_url }}" alt="yelp image" class="img-responsive"></figure>
                                <figcaption>
                                    <h3>{{ businesses.2.name }}</h3>
                                    <p><i class="fa fa-tag"></i> {{ businesses.2.categories.0.1 }}</p>
                                    <p class="description">{{ businesses.2.snippet_text }}</p>
                                </figcaption>
                            </a>
                            <div class="info-icon text-right">
                                <a href="{{ businesses.2.url }}">or find out more <i class="fa fa-external-link-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="result">
    <div class="result-body container">
        <div class="row text-center">
            <h1 class="brand-heading">HOW YOU'RE SPENDING 3 DAYS</h1>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <ul id="itineraryRow2" class="flex-box">

                    <!-- Itinerary gets generated here -->
                    <!--<li class="flex-item"><a href="http://www.yelp.com/biz/art-institute-of-chicago-chicago-3"><img src="http://s3-media2.fl.yelpcdn.com/bphoto/yGNhPzcjdTBiZEd2s6HEHg/ls.jpg" class="img-responsive"></a></li>-->

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="result-description col-md-12 text-left">
                <h3 id="cat1">Damn you have an appreciation for both alcohol and arts. I like that!</h3>
                <h3 id="cat2">Damn you have an appreciation for both alcohol and arts. I like that!</h3>
                <h4>Here are a few more suggestions based on your favorite categories:</h4>
            </div>
        </div>
        <div class="row result-suggestions">
            <div class="col-md-4">
                <figure class="yelp-img">
                    <img src="" alt="yelp image" class="img-responsive">
                </figure>
                <figcaption>
                    <h3>BUSINESS NAME</h3>
                    <p><i class="fa fa-tag"></i>CATEGORIES</p>
                    <p class="description">SNIPPET TEXT</p>
                </figcaption>
            </div>
            <div class="col-md-4">
                <figure class="yelp-img">
                    <img src="" alt="yelp image" class="img-responsive">
                </figure>
                <figcaption>
                    <h3>BUSINESS NAME</h3>
                    <p><i class="fa fa-tag"></i>CATEGORIES</p>
                    <p class="description">SNIPPET TEXT</p>
                </figcaption>
            </div>
            <div class="col-md-4">
                <figure class="yelp-img">
                    <img src="" alt="yelp image" class="img-responsive">
                </figure>
                <figcaption>
                    <h3>BUSINESS NAME</h3>
                    <p><i class="fa fa-tag"></i>CATEGORIES</p>
                    <p class="description">SNIPPET TEXT</p>
                </figcaption>
            </div>
        </div>
    </div>
</div>

</body>

</html>