<!DOCTYPE html>
<html>
    <head>
        <title>Foursquare OAuth Example</title>
    </head>
    <body>
        <p>Hi {{ name }}, you've successfully logged in! </p>
        <p>Search FourSquare points of interest below</p>
        <form action="/explore/" method="post">
            {% csrf_token %}
            <input id="near" type="text" name="near" value="Location"">
            <input id="section" type="text" name="section" value="Type">
            <input id="query" type="text" name="query" value="Query">
            <input id="limit" type="text" name="limit" value="Limit">
            <input type="submit" value="OK">
        </form>
        <h3>{{ NameA }}</h3>
        <p>{{ HoursA }}</p>
        <p>{{ AddressA }}</p>
        <p>{{ WebsiteA }}</p>
        <h3>{{ NameB }}</h3>
        <p>{{ HoursB }}</p>
        <p>{{ AddressB }}</p>
        <p>{{ WebsiteB }}</p>
        <h3>{{ NameC }}</h3>
        <p>{{ HoursC }}</p>
        <p>{{ AddressC }}</p>
        <p>{{ WebsiteC }}</p>
	<a href="../logout/">Logout</a>
    </body>
</html>